#chessboard {
    display: grid;
    grid-template-columns: repeat(14, min(calc(90vh / 14), calc(90vw / 14)));
    grid-template-rows:  repeat(14, min(calc(90vh / 14), calc(90vw / 14)));
    width: min(90vh, 90vw);
    height: min(90vh, 90vw);
}